      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Dashboard</h1>
      <p>Wonderful charts and analytics</p>
      </div>
<div class="panel panel-default">
  <div class="panel-body">
<h3>Welcome</h3>
<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>
</div>
</div>