      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Hey there investor!</h1>
        <p>This project's goal is to provide clean and informative analytics for stock portfolios.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="users/sign_up/" role="button">Register now &raquo;</a>
        </p>
      </div>
<div class="panel panel-default">
  <div class="panel-body">
<h3>Welcome</h3>
<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>
</div>
</div>