<% content_for :title do %>About<% end %>
<h3>About the Website</h3>
<p>
StockTrading.io is an app for managing stock investment portfolios and for playing virutal stock investment games.
</p>
<p>
We are happy that you have found our site.
</p>
